CATALYST_PROJECT_ID=your_project_id
CATALYST_CLIENT_ID=your_client_id
CATALYST_CLIENT_SECRET=your_client_secret
CATALYST_REFRESH_TOKEN=your_refresh_token
CATALYST_ENVIRONMENT=Development
TARGET_COLUMN=target
MERGE_ON=
PROBLEM_TYPE=auto
CATALYST_FOLDER_ID=your_folder_id
